<link rel="stylesheet" href="/style/style.css">


<nav class="desk">
    <ul class="desk-nav">
        <li>
            <a href="/" class="nav-item-desk">Home</a>
        </li>
            <a href="/blogs" class="nav-item-desk">Blog</a>
        <li>
        </li>
        <li>
        </li>
    </ul>
</nav>