:root {
    --h1:5.653rem;
    --h2:3.998rem;
    --h3:2.827rem;
    --h4:1.999rem;
    --h5:1.414rem;

    --oxblue:#00072D;
    --rbdark:#001c55;
    --rlbdark:#0a2472;
    --hblue:#0e6ba8;
    --npblue:#a6e1fa;
}