:root {
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;

  --oxblue: #00072d;
  --rbdark: #001c55;
  --rlbdark: #0a2472;
  --hblue: #0e6ba8;
  --npblue: #a6e1fa;
}
